<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyBackpack Error</title>
</head>
<body style="background-color: #c4c4c4; margin: 0 10%">
<main style="border-radius: 50px; background-color: white; text-align: center; font-family: sans-serif; padding: 1% 2%; line-height: 1.5;">
    <h1>MyBackpack Error!</h1>
    <hr>
    <h2>MyBackpack didn't respond/broke, unfortunately.</h2>
    <h3>What to do</h3>
    <ul>
        <li><a href="{{ url_for('login') }}">Go back to the login page</a> and try again</li>
        <li>Try logging into myBackpack. If myBackpack works, and this site doesn't, please contact me. </li>
        <li>Wait. If myBackpack is down, there is nothing you or I can do, unfortunately. In the mean time, enjoy this hastily drawn picture of a cat that I made.</li>


    </ul>
    <img src="{{ url_for('static', filename='assets/errorCat.svg') }}" alt="Error cat">

</main>
</body>
</html>